<div class="complete-bg-image-container flex-bottom">
    <div class="logo-animation-align">
        <div id="dot" class="dot"></div>
        <img id="animation-logo" class="animation-logo" src="../assets/logo2.svg" alt="">
    </div>
    <div class="appointment-submitted-heading" id="heading">Appointment submitted!</div>
    <div class="complete-divider" id="complete-divider"></div>
    <div class="appointment-submitted" id="complete-blurb">Once you have a bid on your appointment, they will appear under the "Bids" tab on your home page. </div>
    <div ui-sref="userhome" class="finish-btn" id="finish-button"><h4 class="finish-btn-txt">FINISH</h4></div>
    
</div>