<div class="bg-image-container flex-bottom">
    <img class="login-logo" src="../assets/logo1-shadow.svg" alt="">
    <div class="border-padding">
        <div class="welcome-green-bar">
            <h3 class="welcome-tagline">MOBILE</h3>
            <div class="welcome-spacing"></div>
            <h3 class="welcome-tagline">DETAILING</h3>
            <div class="welcome-spacing"></div>                
            <h3 class="welcome-tagline">DONE RIGHT.</h3>
    </div>
        <div ui-sref="register" class="register-btn"><h4 class="register-btn-txt">REGISTER NOW</h4></div>
        <div class="divider-align"><div class="or-divider"></div><h2 class="or-txt">OR</h2><div class="or-divider"></div></div>
        <div ui-sref="login" class="login-btn"><h4 class="login-btn-txt">LOGIN</h4></div>
    </div>
</div>