<div class="flex-row-2">
        <div class="start-times-list">
            <div class="default-align"><p class="default-option" value="default" id="start">Start</p><img id="uparrow2" class="uparrow" src="../assets/uparrow.svg" ng-click="hideStartTimes()"><img id="downarrow2" class="downarrow" src="../assets/downarrow.svg" ng-click="showStartTimes()"></div>            
            <div class="time-container" id="time-container-1">
                <p class="form-option2" ng-click="selectStartTime({elem: '7:00AM'})" value="sevenAM">7:00AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '7:30AM'})" value="sevenThirtyAM">7:30AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '8:00AM'})" value="eightAM">8:00AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '8:30AM'})" value="eightThirtyAM">8:30AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '9:00AM'})" value="nineAM">9:00AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '9:30AM'})" value="nineThirtyAM">9:30AM</p>
                <div class="form-line2"></div>            
                <p class="form-option2" ng-click="selectStartTime({elem: '10:00AM'})" value="tenAM">10:00AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '10:30AM'})" value="tenThirtyAM">10:30AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '11:00AM'})" value="elevenAM">11:00AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '11:30AM'})" value="elevenThirtyAM">11:30AM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '12:00PM'})" value="twelvePM">12:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '12:30PM'})" value="twelveThirtyPM">12:30PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '1:00PM'})" value="onePM">1:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '1:30PM'})" value="oneThirtyPM">1:30PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '2:00PM'})" value="twoPM">2:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '2:30PM'})" value="twoThirtyPM">2:30PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '3:00PM'})" value="threePM">3:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '3:30PM'})" value="threeThirtyPM">3:30PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '4:00PM'})" value="fourPM">4:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '4:30PM'})" value="fourThirtyPM">4:30PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '5:00PM'})" value="fivePM">5:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '5:30PM'})" value="fiveThirtyPM">5:30PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '6:00PM'})" value="sixPM">6:00PM</p>
                <div class="form-line2"></div>
                <p class="form-option2" ng-click="selectStartTime({elem: '6:30PM'})" value="sixThirtyPM">6:30PM</p>
            </div>
        </div>
        <div class="end-times-list">
                <div class="default-align"><p class="default-option" value="default" id="end">End</p><img id="uparrow3" class="uparrow" src="../assets/uparrow.svg" ng-click="hideEndTimes()"><img id="downarrow3" class="downarrow" src="../assets/downarrow.svg" ng-click="showEndTimes()"></div>            
                <div class="time-container" id="time-container-2">
                    <p class="form-option3" ng-click="selectEndTime({elem: '7:30AM'})" value="sevenThirtyAM">7:30AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '8:00AM'})" value="eightAM">8:00AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '8:30AM'})" value="eightThirtyAM">8:30AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '9:00AM'})" value="nineAM">9:00AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '9:30AM'})" value="nineThirtyAM">9:30AM</p>
                    <div class="form-line3"></div>            
                    <p class="form-option3" ng-click="selectEndTime({elem: '10:00AM'})" value="tenAM">10:00AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '10:30AM'})" value="tenThirtyAM">10:30AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '11:00AM'})" value="elevenAM">11:00AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '11:30AM'})" value="elevenThirtyAM">11:30AM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '12:00PM'})" value="twelvePM">12:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '12:30PM'})" value="twelveThirtyPM">12:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '1:00PM'})" value="onePM">1:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '1:30PM'})" value="oneThirtyPM">1:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '2:00PM'})" value="twoPM">2:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '2:30PM'})" value="twoThirtyPM">2:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '3:00PM'})" value="threePM">3:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '3:30PM'})" value="threeThirtyPM">3:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '4:00PM'})" value="fourPM">4:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '4:30PM'})" value="fourThirtyPM">4:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '5:00PM'})" value="fivePM">5:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '5:30PM'})" value="fiveThirtyPM">5:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '6:00PM'})" value="sixPM">6:00PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '6:30PM'})" value="sixThirtyPM">6:30PM</p>
                    <div class="form-line3"></div>
                    <p class="form-option3" ng-click="selectEndTime({elem: '7:00PM'})" value="sevenPM">7:00PM</p>
                </div>
            </div>
    </div>